<head>
<title>Image filtering - GA DNLM</title>
<link rel="stylesheet" type="text/css" href="css/common.css">
<link rel="stylesheet" type="text/css" href="css/filter.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
		rel="stylesheet">

	<div th:replace="common/navbar :: nav"></div>

	<div class="container">

		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>LOAD IMAGES</strong> <small> </small>
				</div>
				<div class="panel-body">
					<div class="input-group image-preview">
						<input placeholder="" class="form-control image-preview-filename"
							disabled="disabled" type="text">
						<!-- don't give a name === doesn't send on POST/GET -->
						<span class="input-group-btn"> <!-- image-preview-clear button -->
							<button type="button" class="btn btn-default image-preview-clear"
								style="display: none;">
								<span class="glyphicon glyphicon-remove"></span> Clear
							</button> <!-- image-preview-input -->
							<div class="btn btn-default image-preview-input">
								<span class="glyphicon glyphicon-folder-open"></span> <span
									class="image-preview-input-title">Browse</span> <input
									accept="image/png, image/jpeg, image/gif, image/tif"
									name="input-file-preview" multiple type="file">
								<!-- rename it -->
							</div>
							<button type="button" class="btn btn-labeled btn-default">
								<span class="btn-label"><i
									class="glyphicon glyphicon-upload"></i> </span>Upload
							</button>
						</span>
					</div>
					<br>

					<!-- Drop Zone -->
					<div class="upload-drop-zone" id="drop-zone">Or drag and drop
						here</div>
					<br>
					<!-- Progress Bar -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="60"
							aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						</div>
					</div>
					<br>
					<!-- Upload Finished -->
					<div class="js-upload-finished">
						<h4>Uploaded</h4>
						<div class="list-group">
							
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>FILTERING</strong> <small> </small>
				</div>
				<fieldset>

					<div class="row row-margin">
						<div class="form-group">
							<label class="col-md-4 control-label input-form"
								for="modification_date">Lot name</label>
							<div class="col-md-6">
								<input id="add_date" name="add_date"
									placeholder="Input an unique name"
									class="input_title_desc  input-form" required="" type="text">
							</div>
						</div>
					</div>


					<div class="row row-margin">
						<div class="form-group">
							<label class="col-md-4 control-label" for="category_name">Use
								previous configuration</label>
							<div class="col-md-6">
								<select id="configs" name="configs"
									class="input_description_title input-form">
									<option>Config1</option>
									<option>Config2</option>
									<option>Config3</option>
								</select>
							</div>
						</div>
					</div>

					<div class="row row-margin">
						<!-- Select Basic -->
						<div class="form-group">
							<label class="col-md-4 control-label input-form"
								for="category_name_fr">Load from file</label>
							<div class="col-md-6">

								<div class="input-group image-preview">
									<input placeholder="" type="text"
										class="form-control image-preview-filename"
										disabled="disabled">
									<!-- don't give a name === doesn't send on POST/GET -->
									<span class="input-group-btn"> <!-- image-preview-clear button -->
										<button type="button"
											class="btn btn-default image-preview-clear"
											style="display: none;">
											<span class="glyphicon glyphicon-remove"></span> Clear
										</button> <!-- image-preview-input -->
										<div class="btn btn-default image-preview-input">
											<span class="glyphicon glyphicon-folder-open"></span> <span
												class="image-preview-input-title">Browse</span> <input
												type="file" accept="image/png, image/jpeg, image/gif"
												name="input-file-preview" />
											<!-- rename it -->
										</div>
									</span>
								</div>
							</div>
						</div>
					</div>


					<div class="row row-margin">
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label input-form" for="add_date">w
								value</label>
							<div class="col-md-6">
								<input id="add_date" name="add_date" placeholder="w"
									class="input_title_desc input-form" required="" type="text">
							</div>
						</div>
					</div>


					<div class="row row-margin">
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label input-form" for="add_by">w<sub>n</sub>
								value
							</label>
							<div class="col-md-6">
								<input id="add_date" name="add_date" placeholder="w_n"
									class="input_title_desc input-form" required="" type="text">
							</div>
						</div>
					</div>


					<div class="row row-margin">
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label input-form"
								for="modification_date">sigma r value</label>
							<div class="col-md-6">
								<input id="add_date" name="add_date" placeholder="σᵣ"
									class="input_title_desc input-form" required="" type="text">
							</div>
						</div>
					</div>


					<!-- Button -->
					<div class="form-group">
						<label class="col-md-4 control-label" for=""></label>
						<div class="col-md-4">
							<button class="btn_add_fin">FILTER IMAGES</button>
						</div>
					</div>


				</fieldset>
				<br>
			</div>
		</div>
	</div>

	<script src="js/filter.js"></script>

</body>


