<head>
  <title>Image gallery - GA DNLM</title>
  <link rel="stylesheet" type="text/css" href="css/common.css">
  <link rel="stylesheet" type="text/css" href="css/gallery.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">

  <div th:replace="common/navbar :: nav"></div>

  <div class="container">
    <div class="row">
    </div><!-- /row -->
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="list-group">
          <span href="#" class="list-group-item active">
            Football players
          </span>
          <a href="#" class="list-group-item">
            Flowers
          </a>
          <a href="#" class="list-group-item">
            Third image lot
          </a>

        </div><!-- /list-group -->      
      </div><!-- /col -->
      <div class="col-xs-12 col-sm-9">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <a href="#" class="thumbnail">
              <img src="http://www.placehold.it/450x450">
            </a>
          </div><!-- /col -->
          <div class="col-xs-12 col-sm-4">
            <a href="#" class="thumbnail">
              <img src="http://www.placehold.it/450x450">
            </a>
          </div><!-- /col -->
          <div class="col-xs-12 col-sm-4">
            <a href="#" class="thumbnail">
              <img src="http://www.placehold.it/450x450">
            </a>
          </div><!-- /col -->
        </div><!-- /row -->
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <a href="#" class="thumbnail">
              <img src="http://www.placehold.it/450x450">
            </a>
          </div><!-- /col -->
          <div class="col-xs-12 col-sm-4">
            <a href="#" class="thumbnail">
              <img src="http://www.placehold.it/450x450">
            </a>
          </div><!-- /col -->
          <div class="col-xs-12 col-sm-4">
            <a href="#" class="thumbnail">
              <img src="http://www.placehold.it/450x450">
            </a>
          </div><!-- /col -->
        </div><!-- /row -->
        
        <button class="btn_add_fin pull-right">DOWNLOAD ALL</button>
        
      </div><!-- /col -->      
    </div><!-- /row -->
  </div><!-- /container -->



</body>


