<head>
  <link rel="stylesheet" type="text/css" href="css/reports.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Generation', 'Football players', 'Image lot 2'],
        ['50', 65, 57],
        ['100', 70, 85],
        ['150', 78, 87],
        ['200', 97, 93]
      ]);

      var options = {
        title: 'Performance of top individuals per generation',
        hAxis: {title: 'Generation'},
        vAxis: {title: 'Fitness'},
        curveType: 'function',
        legend: { position: 'bottom' }
      };

      var chart = new google.visualization.LineChart(document.getElementById('best_fitness_chart'));

      chart.draw(data, options);
    }
  </script>

  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Generation', 'Football players', 'Image lot 2'],
        ['50', 48, 43],
        ['100', 65, 70],
        ['150', 70, 75],
        ['200', 88, 81]
      ]);

      var options = {
        title: 'Mean fitness of individuals per generation',
        hAxis: {title: 'Generation'},
        vAxis: {title: 'Mean of fitness'},
        legend: { position: 'bottom' },
        colors: ['#a52714', '#097138']
      };

      var chart = new google.visualization.LineChart(document.getElementById('mean_f_chart'));

      chart.draw(data, options);
    }
  </script>

</head>
<body>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">

  <div class="header-top">
    <div id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">				
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
          <ul class="nav navbar-nav navbar-left">
            <li>
              <a href="/"><b>GA-DNLM</b></a>
            </li>
            <li>
              <a href="calibrate.html" class="active">Calibrate parameters</a>
            </li>
            <li>
              <a href="reports.html">Reports</a>
            </li>
            <li class="dropdown ">
              <a href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button">Images<b class="caret"></b></a>
              <ul role="menu" class="dropdown-menu" aria-labelledby="drop1">
                <li role="presentation"><a href="filter.html" role="menuitem">Filter</a></li>
                <li role="presentation"><a href="gallery.html" role="menuitem">Gallery</a></li>                
              </ul>
            </li>
            <li>
              <a href="about.html">About</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="">username </a>
            </li>
            <li>
              <a href="login.html"> <span class="glyphicon glyphicon-log-out"></span> Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">    

    <!-- COLUMNA 1 -->
    <div class="col-md-6">

      <div class="panel panel-default">
        <div class="panel-heading"><strong>CALIBRATION SELECTION</strong> <small> </small></div>
        <div class="panel-body">
          <table class="table">
            <tr>
              <td class="titl_description" style="vertical-align:middle;"><b>Calibration name</b></td>
              <td>
                <select name="" class="input_description_title" id="date_select" style="width:98%;">
                  <option value="TODAY">Footbal players</option>
                  <option value="TOMORROW">Image lot 2</option>                
                </select>
              </td>
            </tr>        
            <tr>
              <td >
                <button class="btn_add_fin"  onclick="add_to_list()">CLEAR</button>
              </td>
              <td>
                <button class="btn_add_fin"  onclick="add_to_list()">ADD TO CHARTS</button>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading"><strong>BEST FITNESS CHART</strong> <small> </small></div>
        <div class="panel-body">
          <div class="row">
            <div id="best_fitness_chart" style="width: 100%; height: 40%;"></div>
          </div>
          <div class="row" style="margin: 20px 0 0 0">  
            <table class="table">
              <tr>
                <td>
                  <button class="btn_export_points">EXPORT AS CSV</button>
                </td>
                <td>
                  <button class="btn_export_image">EXPORT AS SVG</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>     
    </div>


    <!-- COLUMNA 2 -->
    <div class="col-md-6">

      <div class="panel panel-default">
        <div class="panel-heading"><strong>MEAN FITNESS PER GENERATION</strong> <small> </small></div>
        <div class="panel-body">
          <div class="row">
            <div id="mean_f_chart" style="width: 100%; height: auto;"></div>
          </div>
          <div class="row" style="margin: 20px 0 0 0">            
          <table class="table">
              <tr>
                <td>
                  <button class="btn_export_points">EXPORT AS CSV</button>
                </td>
                <td>
                  <button class="btn_export_image">EXPORT AS SVG</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>     

      <div class="panel panel-default">
        <div class="panel-heading"><strong>RUNNING TIME</strong> <small> </small></div>
        <div class="panel-body">
          <table class="table">
            <tr>
              <td class="titl_description" style="vertical-align:middle;"><b>Calibration name</b></td>
              <td>
                <select name="" class="input_description_title" id="date_select" style="width:98%;">
                  <option value="TODAY">Footbal players</option>
                  <option value="TOMORROW">Image lot 2</option>                
                </select>
              </td>
            </tr>        
            <tr>
              <td class="titl_description" style="vertical-align:middle;">Filter by</td>
              <td>
                <select name="" class="input_description_title" id="date_select" style="width:98%;">
                  <option value="TODAY">Individual</option>
                  <option value="TOMORROW">Generation</option>
                  <option value="TOMORROW">Total</option>
                </select>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <button class="btn_add_fin"  onclick="add_to_list()">EXPORT</button>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>

  </div>

  <script src="js/reports.js"></script>

</body>


