<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Detalle - SPACE</title>

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/detalle.css" rel="stylesheet">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

	<div class="container">
		<h3>
			Bienvenid@, <span th:text="${usuario}"></span><br /> <small>Sistema
				de Preprocesamiento y Análisis Celular</small>
		</h3>
		<br />

		<div class="row">
			<div class="col-sm-2">
				<nav class="nav-sidebar">

				<ul class="nav">

      <li><a href="/home"><i class="glyphicon glyphicon-home"></i>
        Inicio</a></li>

      <li><a href="/upload"><i
        class="glyphicon glyphicon-upload"></i> Subir lote</a></li>

      <li class="active"><a href="/lotes"><i
        class="glyphicon glyphicon-picture"></i> Explorar lotes</a></li>

      <li><a href="/about"><i class="glyphicon glyphicon-info-sign"></i>
        Acerca de</a></li>

      <li class="nav-divider"></li>
      
      <li><a href="" > <i class="glyphicon glyphicon-user"></i>
       <span th:text="${usuario}"></span>
       </a></li>
      
      <li><a href="/logout"><i class="glyphicon glyphicon-off"></i>
        Salir</a></li>

     </ul>

				</nav>
			</div>

			<div class="modal fade" id="enlargeImageModal" tabindex="-1"
				role="dialog" aria-labelledby="enlargeImageModal" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<img src="" class="enlargeImageModalSource" style="width: 100%;">
						</div>
					</div>
				</div>
			</div>

			<!-- Content -->
			<div class="col-sm-10">

				<a th:href="${'/gallery?lote='+lote+'&i='+ival}"><h3>«
						Volver</h3></a>
				<hr>
				
				<span id="_id" th:text="${id}" class="hidden"></span>
				<span id="_ival" th:text="${ival}" class="hidden"></span>

				<div class="col-sm-6">

					<img class="media__image"
						th:src="${'data:image/jpg;base64,' + imagen.imgBase64}">

					<hr>
					<p align="center">Haga clic para expandir la imagen</p>

				</div>


				<div class="col-sm-6">

					<h4>Información</h4><hr>

					<table class="table table-striped custab">
						<tr>
							<td><strong>Nombre del archivo</strong></td>
							<td th:text="${imagen.nombreArchivo}"></td>
						</tr>

						<tr>
							<td><strong>Lote</strong></td>
							<td th:text="${imagen.nombreLote}"></td>
						</tr>

						<tr>
							<td><strong>Conteo de células</strong></td>
							<td th:text="${imagen.numeroCelulas}"></td>
						</tr>

						<tr>
							<td><strong>Tiempo de procesamiento</strong></td>
							<td th:text="${imagen.tiempoProcesamiento + ' ns'}"></td>
						</tr>

						<tr>
							<td><strong>Umbral Illingworth-Kittler</strong></td>
							<td th:text="${imagen.umbral}"></td>
						</tr>

					</table>


					<h4>Métricas e informes</h4><hr>														

					<div class="col-sm-4">
						<input class="btn btn-primary" type="button"
							th:onclick="'location.href=\'/generarInforme?id=' + ${imagen.id} + '\''" value="Generar informe">
					</div>

     <div class="col-sm-5">
      <label class="btn btn-default btn-file"> Subir groundtruth
       <input type="file" id="ground_file" style="display:none;">
      </label>   
     </div>   

					<div class="col-sm-3">
						<input class="btn btn-danger" type="button"
							th:onclick="'location.href=\'/eliminarImagen?id=' + ${imagen.id} + '\''" value="✖  Eliminar">							
					</div>									
					
					<br><br>
					<div class="row">
					  <div class="alert alert-info" id="dice_res">Suba una imagen con el botón "Subir groundtruth" para aplicar Dice</div></div>											

				</div>
				

			</div>

		</div>

	</div>
	
	<!-- upload script -->
	<script src="js/detalle.js"></script>

</body>

</html>