@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
body{
  font-family: 'Roboto Condensed', sans-serif;   
}

/** FILES **/
.image-preview {
  padding-left: 15px;
}

.image-preview-input {
  position: relative;
  overflow: hidden;
  margin-right: 15px;      
  color: #333;
  background-color: #fff;
  border-color: #ccc;    
}

.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 15px;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.image-preview-input-title {
  margin-left: 5px;
}

/**** BREAK *****/
* {
  margin: 0px auto;
  padding: 0px;
  text-align: center;  
}

body {
  background: rgb(250,249,247);
  background: -moz-linear-gradient(-45deg,  rgba(250,249,247,1) 0%, rgba(221,218,209,1) 100%);
  background: -webkit-linear-gradient(-45deg,  rgba(250,249,247,1) 0%,rgba(221,218,209,1) 100%);
  background: linear-gradient(135deg,  rgba(250,249,247,1) 0%,rgba(221,218,209,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf9f7', endColorstr='#dddad1',GradientType=1 );

}

.table th {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #607D8B;
}

.table td {
  width: 33.33%;
}

.table td select {
  width: 100%;
  padding: 10px 0px;
  background-color: #fff;
  box-shadow: 1px 5px 10px -5px rgba(0,0,0,0.5);
  text-align: left;
}

.table td input {
  width: 93%;
  padding: 10px 2%;
  background-color: #fff;
  border: none;
  box-shadow: 1px 5px 10px -5px rgba(0,0,0,0.5);
  text-align: left;
  outline:none;
}

.btn_add_fin {
  position: relative;
  padding: 10px 20px;
  background-color: #4C75A1;
  border: none;
  margin: 10px auto;  
  box-shadow: 1px 5px 10px -5px rgba(0,0,0,0.5);
  color: #fff;
  cursor: pointer;
}

.titl_description {  
  padding-top: 10px;
  text-align: center;
  margin-left: 0%;
  position: relative;
  float: center;  
}

.display_none_add {

}

.cont_princ_lists {
  position: relative;
  float: left;
  width: 100%;
  padding-bottom: 20px;
}

.cont_princ_lists > ul > li  {
  position: relative;
  float: left;
  width: 100%; 
  height: 150px;
  left: 0;
  background-color: #F1F1EF;
  list-style: none;
  box-shadow: 1px 10px 20px 0px rgba(218, 215, 206,0.8);
  z-index: 2;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.col_md_1_list {
  width: 25%;
  position: relative;
  float: left;
  height: 40px;
  top:50%;
  margin-top: -30px;
}

.col_md_1_list > p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.col_md_2_list {
  width: 70%;
  position: relative;
  float: left;
  margin-top: 15px;
}

.col_md_2_list  > h4 {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.col_md_2_list  > p {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight: 700;
  color: #999;
}

.list_shopping > .col_md_1_list {
  border-left: 4px solid #6da944;
  color: #6da944;
}

.list_work > .col_md_1_list {
  border-left: 4px solid #2A476B;
  color: #2A476B;
}

.list_sport > .col_md_1_list {
  border-left: 4px solid #EF8A18;
  color: #EF8A18;
}

.list_music > .col_md_1_list {
  border-left: 4px solid #EE1E65; 
  color: #EE1E65;
}