<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Home - SPACE</title>

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<link href="css/home.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

	<div class="container">
		<h3>
			Bienvenid@, <span th:text="${usuario}"></span><br /> <small>Sistema
				de Preprocesamiento y Análisis Celular</small>
		</h3>
		<br />

		<div class="row">
			<div class="col-sm-2">
				<nav class="nav-sidebar">

					<ul class="nav">

						<li class="active"><a href="/home"><i
								class="glyphicon glyphicon-home"></i> Inicio</a></li>

						<li><a href="/upload"><i
								class="glyphicon glyphicon-upload"></i> Subir lote</a></li>

						<li><a href="/lotes"><i
								class="glyphicon glyphicon-picture"></i> Explorar lotes</a></li>

						<li><a href="/about"><i
								class="glyphicon glyphicon-info-sign"></i> Acerca de</a></li>

						<li class="nav-divider"></li>

						<li><a href=""> <i class="glyphicon glyphicon-user"></i>
								<span th:text="${usuario}"></span>
						</a></li>

						<li><a href="/logout"><i class="glyphicon glyphicon-off"></i>
								Salir</a></li>

					</ul>

				</nav>
			</div>

			<!-- Content -->
			<div class="col-sm-10">

				<h3>Sistema SPACE</h3>
				<hr>

				<div class="row">
					<div class="col-md-4">
						<!-- begin panel group -->
						<div class="panel-group" id="accordion" role="tablist"
							aria-multiselectable="true">

							<!-- panel 1 -->
							<div class="panel panel-default">
								<!--wrap panel heading in span to trigger image change as well as collapse -->
								<span class="side-tab" data-target="#tab1" data-toggle="tab"
									role="tab" aria-expanded="false">
									<div class="panel-heading" role="tab" id="headingOne"
										data-toggle="collapse" data-parent="#accordion"
										href="#collapseOne" aria-expanded="true"
										aria-controls="collapseOne">
										<h4 class="panel-title">Objetivo</h4>
									</div>
								</span>

								<div id="collapseOne" class="panel-collapse collapse in"
									role="tabpanel" aria-labelledby="headingOne">
									<div class="panel-body" style="text-align:justify;">
										El Sistema de Preprocesamiento y Análisis CElular (SPACE) tiene como propósito 
										automatizar el análisis de una secuencia de imágenes obtenidas a partir de
										microscopia de fluorescencia, como parte del proceso de investigación 
										del laboratorio de quimiosensibilidad tumoral de la Escuela de Microbiología, 
										de la Universidad de Costa Rica.
										<br><br>
										El sistema será parte del conjunto de herramientas usadas en 
										el proceso de la prueba diagnóstica ATP-TCA. El sistema SPACE está diseñado para
										coexistir con el equipo de cómputo y el microscopio	multi-modal y de captura de 
										imágenes celulares: Cytation 3, mostrado en esta página.
									</div>
								</div>
							</div>
							<!-- / panel 1 -->

							<!--  panel 3 -->
							<div class="panel panel-default">
								<!--wrap panel heading in span to trigger image change as well as collapse -->
								<span class="side-tab" data-target="#tab3" data-toggle="tab"
									role="tab" aria-expanded="false">
									<div class="panel-heading" role="tab" id="headingThree"
										class="collapsed" data-toggle="collapse"
										data-parent="#accordion" href="#collapseThree"
										aria-expanded="false" aria-controls="collapseThree">
										<h4 class="panel-title"></h4>
									</div>
								</span>

								<div id="collapseThree" class="panel-collapse collapse"
									role="tabpanel" aria-labelledby="headingThree">
									<div class="panel-body">
										<!-- tab content goes here -->
										tab 3 content
									</div>
								</div>
							</div>
						</div>
						<!-- / panel-group -->

					</div>
					<!-- /col-md-4 -->

					<div class="col-md-8">

						<!-- content goes here -->
						<div class="tab-featured-image">
							<div class="tab-content">
							
								<div class="tab-pane  in active" id="tab1">
									<img src="images/cytation3.jpg" alt="tab1"
										class="img img-responsive">
								</div>
								
								<div class="tab-pane " id="tab2">
									<img
										src="https://unsplash.imgix.net/uploads/1411724908903377d4696/2e9b0cb2?dpr=2&fit=crop&fm=jpg&h=650&q=75&w=950">
								</div>
								
								<div class="tab-pane fade" id="tab3">

									<img
										src="https://ununsplash.imgix.net/photo-1422479516648-9b1f0b6e8da8?dpr=2&fit=crop&fm=jpg&h=650&q=75&w=950"
										alt="tab1" class="img img-responsive">
								</div>
								
							</div>
						</div>
					</div>
				</div>
				<div class="md-base"></div>
			</div>
		</div>
		<!-- / .col-md-8 -->
	</div>
	<!--/ .row -->

</body>

</html>