<!DOCTYPE html>
<html>
<head>
	<title> Subir nuevo lote</title>
	<script src="js/upload.js"></script>
</head>
<body>
    <div style="width:55%">
        <div id='progressBar' style='height: 20px; border: 2px solid green; margin-bottom: 20px'>
            <div id='bar' style='height: 100%; background: #33dd33; width: 0%'>
            </div>
        </div>
        <form style="margin-bottom: 20px">
            <input type="file" id="files" multiple style="margin-bottom: 20px"/><br/>
            <output id="selectedFiles"></output>
            <input id="uploadButton" type="button" value="Upload" style="margin-top: 20px"/>
        </form>
    </div>
</body>
</html>