<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Subir - SPACE</title>

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<link href="css/home.css" rel="stylesheet">

<script src="/js/upload.js"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

	<div class="container">
		<h3>
			Bienvenid@, <span th:text="${usuario}"></span><br /> <small>Sistema
				de Preprocesamiento y Análisis Celular</small>
		</h3>
		<br />

		<div class="row">
			<div class="col-sm-2">
				<nav class="nav-sidebar">

     <ul class="nav">

      <li><a href="/home"><i class="glyphicon glyphicon-home"></i>
        Inicio</a></li>

      <li class="active"><a href="/upload"><i
        class="glyphicon glyphicon-upload"></i> Subir lote</a></li>

      <li><a href="/lotes"><i
        class="glyphicon glyphicon-picture"></i> Explorar lotes</a></li>

      <li><a href="/about"><i class="glyphicon glyphicon-info-sign"></i>
        Acerca de</a></li>

      <li class="nav-divider"></li>
      
      <li><a href="" > <i class="glyphicon glyphicon-user"></i>
       <span th:text="${usuario}"></span>
       </a></li>
      
      <li><a href="/logout"><i class="glyphicon glyphicon-off"></i>
        Salir</a></li>

     </ul>

				</nav>
			</div>

			<!-- Content -->
			<div class="col-sm-8">
			
			 <h2>Subir imágenes</h2><hr>

				<form th:action="@{/upload}" method="POST" class="form-signin">

					<div class="input-container">
						<label for="loteNombre">Nombre del lote</label> <input type="text"
							class="form-control" id="loteNombre" name="loteNombre"
							required="required">
					</div>
					<br/>
					 
					<div id="progreso" class="hidden">
						<label for="progressBar">Progreso de subida</label>
						<div id='progressBar'
							style='height: 20px; border: 2px solid green; margin-bottom: 20px'>
							<div id='bar' style='height: 100%; background: #33dd33; width: 0%'>
							</div>
						</div>
					</div>
					
					<label class="btn btn-default btn-file"> Seleccionar
						archivos... <input type="file" id="files" multiple
						style="display: none;">
					</label> <br />
					<output id="selectedFiles"></output>
					<input id="uploadButton" type="button" value="Subir y procesar"
						style="margin-top: 20px" class="btn btn-primary" /> <br />

				</form>

			</div>

		</div>

	</div>


</body>

</html>