@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
body{
  font-family: 'Roboto Condensed', sans-serif;   
}

/** CARDS **/
/***** Info Card Component *****/
/*******************************/
/* =24px */
.info-card-container {
  width: 100%;
  min-height: 100%;
  height: 83rem;
  overflow: hidden;
  background: -webkit-linear-gradient(left, #0C1B23 0%, #0C1B23 70%, #fff 70%, #fff 100%);
  background: linear-gradient(to right, #0C1B23 0%, #0C1B23 70%, #fff 70%, #fff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$white', endColorstr='$white',GradientType=1 );
  /* IE6-9 */
  position: relative;
}

.info-card {
  min-width: 80%;
  max-width: 90rem;
  min-height: 70%;
  height: 70rem;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  box-shadow: 0.01rem 0.01rem 1rem #0C1B23;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.info-card__content {
  float: left;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.info-card__image-exposure {
  width: 50%;
}

.info-card__bio {
  width: 40%;
  padding: 5rem;
  height: auto;
  font-family: 'Open Sans', serif;
}
.info-card__bio--title {
  color: #141D1D;
  font-size: 3.5rem;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}
.info-card__bio--copy {
  color: #9da09f;
  line-height: 2;
  font-family: 'Open Sans', sans-serif;
}

.info-card__image-exposure__item {
  background-color: #fff;
  background-position: 80% 50%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: inline-block;
  position: absolute;
  opacity: 0.9;
}

.info-card__image-exposure--blend {
  background-image: url("../images/drops.png");
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: -5rem;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  -webkit-animation: blendAnimate 400s linear infinite;
          animation: blendAnimate 400s linear infinite;
}

.close {
  width: 2rem;
  height: 0.25rem;
  background-color: #000;
  position: absolute;
  top: 2.5rem;
  right: 2rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}
.close:before {
  content: '';
  display: block;
  width: 2rem;
  height: 0.25rem;
  background: #000;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@-webkit-keyframes blendAnimate {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0;
  }
}

@keyframes blendAnimate {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0;
  }
}

/** FILES **/
/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

/**DROPDOWN**/
.open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);  
  opacity:1;
}
  
.dropdown-menu {
  opacity:.3;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;  
  animation-fill-mode: forwards; 
  -webkit-transform: scale(1, 0);
  display: block; 
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  width: auto;
}

/**MODAL OVERFLOW MENU**/
.modal-overflow{
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;;
  background: #FFFFFF;
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width:260px;
  max-height:auto;
  border:1px solid #AAA;
  border-bottom:3px solid #BBB;
  margin-top:0px;
  overflow:hidden;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Roboto', sans-serif;
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overflow ul{
  list-style: none;
  padding-left: .5em;

}
.modal-overflow li >a{
  color:#FFFFFF;
  padding-left:.5em;
}
.modal-overflow li >a:hover, {
  list-style: none;
  background: #E5E5E5;
}
.modal-overflow li >a:active{
  background:#000000;
  color:#FFFFFF;


}
overflow-menu a{
  color:#000000;
  list-style: none;
  padding-left: .5em;

}
a{
  color:#000000;

}
.modal-backdrop.in {
  filter: alpha(opacity=0);
  opacity: 0;
}
/***NAVBAR STYLE**/
#custom-bootstrap-menu.navbar-default .navbar-brand {
  color: rgba(82, 103, 115, 1);
}
#custom-bootstrap-menu.navbar-default {
  font-size: 16px;
  background-color: rgba(0, 0, 0, 1);
  border-width: 0px;
  border-radius: 0px;
  border:1px solid #AAA;
  border-bottom:3px solid #BBB;
  margin-top:0px;
  overflow:visible;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Roboto', sans-serif;
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  position: sticky;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(82, 103, 115, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(82, 103, 115, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
  border-color: #526773;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
  background-color: #526773;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
  background-color: #526773;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #000000;
}

/**NOSCROLLBAR**/
::-webkit-scrollbar {
}

/**** BREAK *****/
* {
  margin: 0px auto;
  padding: 0px;
  text-align: center;  
}

.cont_principal {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgb(250,249,247);
  background: -moz-linear-gradient(-45deg,  rgba(250,249,247,1) 0%, rgba(221,218,209,1) 100%);
  background: -webkit-linear-gradient(-45deg,  rgba(250,249,247,1) 0%,rgba(221,218,209,1) 100%);
  background: linear-gradient(135deg,  rgba(250,249,247,1) 0%,rgba(221,218,209,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf9f7', endColorstr='#dddad1',GradientType=1 );
  overflow-y: visible;
}

.cont_centrar {
  position: relative;
  width: 500px;
  float: center;
}

.cont_todo_list_top {
  position: relative;
  float: left;
  width: 100%;
  height: 60px;
  margin-top: 20px;
  box-shadow: 1px 15px 25px -5px rgba(0,0,0,0.3);
}

.cont_titulo_cont > h3 {    
  text-align: center;  
  letter-spacing: 1px;
  font-size: 18px;
  margin-left: 15%;
  color: #FFF;
  font-weight: 550;
  margin-top: 23px;
} 

.cont_titulo_cont {
  position: relative;
  float: left;  
  width: 430px;
  height: 60px;
  background: rgb(42,72,107);
  background: -moz-linear-gradient(left,  rgba(42,72,107,1) 0%, rgba(80,122,167,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(42,72,107,1) 0%,rgba(80,122,167,1) 100%);
  background: #2974ab;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a486b', endColorstr='#507aa7',GradientType=1 );
  font-family: 'Open Sans', sans-serif;
}

.cont_add_titulo_cont {
  position: relative;
  float: left;
  width: 70px;
  height: 60px;
  background: rgb(42,72,107);
  background: -moz-linear-gradient(left,  rgba(42,72,107,1) 0%, rgba(80,122,167,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(42,72,107,1) 0%,rgba(80,122,167,1) 100%);
  background: #2974ab;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a486b', endColorstr='#507aa7',GradientType=1 );

}

.cont_add_titulo_cont > a {
  display: block;
  color: #fff;
  font-size: 32px;
  margin-top: 14px;
}

body {
  background: rgb(250,249,247);
  background: -moz-linear-gradient(-45deg,  rgba(250,249,247,1) 0%, rgba(221,218,209,1) 100%);
  background: -webkit-linear-gradient(-45deg,  rgba(250,249,247,1) 0%,rgba(221,218,209,1) 100%);
  background: linear-gradient(135deg,  rgba(250,249,247,1) 0%,rgba(221,218,209,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf9f7', endColorstr='#dddad1',GradientType=1 );

}

.cont_crear_new {  
  position: relative;
  float: left;
  width: 100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  /* Propiedades Desactivadores */
  -webkit-transform: scale(0,0);
  -ms-transform: scale(0,0);
  -o-transform: scale(0,0);
  transform: scale(0,0);
  height: 0px;
  margin: 0px;
}

.cont_crear_new_active{
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  height: 0px;
  margin: 10px 0px;
  height: 650px;  
}
.cont_add_titulo_cont > a > i{
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.cont_add_titulo_cont_active > a > i{
  -webkit-transform: rotate(130deg);
  -ms-transform: rotate(130deg);
  -o-transform: rotate(130deg);
  transform: rotate(130deg);
}

.table th {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #607D8B;
}

.table td {
  width: 33.33%;
}
.table td select {
  width: 100%;
  padding: 10px 0px;
  background-color: #fff;
  box-shadow: 1px 5px 10px -5px rgba(0,0,0,0.5);
  text-align: left;
}

.table td input {
  width: 93%;
  padding: 10px 2%;
  background-color: #fff;
  border: none;
  box-shadow: 1px 5px 10px -5px rgba(0,0,0,0.5);
  text-align: left;
  outline:none;
}

.btn_add_fin {
  position: relative;
  padding: 10px 20px;
  background-color: #4C75A1;
  border: none;
  margin: 10px auto;  
  box-shadow: 1px 5px 10px -5px rgba(0,0,0,0.5);
  color: #fff;
  cursor: pointer;
}

.titl_description {  
  padding-top: 10px;
  text-align: center;
  margin-left: 0%;
  position: relative;
  float: center;  
}

.display_none_add {

}

.cont_princ_lists {
  position: relative;
  float: left;
  width: 100%;  
  margin-top: 15px;
  margin-bottom: 15px;
}

.cont_princ_lists > ul > li  {
  position: relative;
  float: left;
  width: 100%; 
  height: 120px;
  left: 0;
  background-color: #F1F1EF;
  list-style: none;
  box-shadow: 1px 10px 20px 0px rgba(218, 215, 206,0.8);
  z-index: 2;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.col_md_1_list {
  width: 125px;
  position: relative;
  float: left;
  height: 40px;
  top:50%;
  margin-top: -18px;
}
.col_md_1_list > p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.col_md_2_list {
  width: 250px;
  position: relative;
  float: left;
  margin-top: 20px;
}
.col_md_2_list  > h4 {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.col_md_2_list  > p {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight: 700;
  color: #999;
}

.col_md_3_list {
  width: 121px;
  position: relative;
  float: left;
  height: 14px;
  top:50%;
  margin-top: -10px;
}

.col_md_3_list > .cont_text_date {
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;  
}
.col_md_3_list > .cont_text_date > p {
  text-align: right;
  margin-right: 20px;
}

.col_md_3_list:hover > .cont_btns_options{
  opacity: 1;  

}

.col_md_3_list > .cont_btns_options{
  position: absolute;
  width: 100%;
  opacity: 0.7;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #F1F1EF;
  width: 100%;
  height: 120px;
  top: 0px;
}

.col_md_3_list > .cont_btns_options > ul > li{
  position: relative;
  float: right;
  width: 100%;
  list-style-type: none;
}
.col_md_3_list > .cont_btns_options > ul > li:nth-child(1) > a {
  /*   background-color: #ef5350; */
}
.col_md_3_list > .cont_btns_options > ul > li > a {
  display: block;
  width: 20px;
  height: 30px;
  background-color: #4C75A1;
  padding: 5px 3px;
  border-radius: 50%;
  color: #fff;
  margin-top: -5px;
}

.col_md_3_list > .cont_btns_options > ul > li > a > i {
  font-size: 15px;
}

.list_dsp_none {
  display: none;
  opacity: 0;
  margin-top: 20px;
}

.list_dsp_true {
  margin:0px;
  opacity: 1;  
}


.list_work {
  z-index: 1;  
}

.list_shopping > .col_md_1_list {
  border-left: 4px solid #6da944;
  color: #6da944;
}

.list_work > .col_md_1_list {
  border-left: 4px solid #2A476B;
  color: #2A476B;
}

.list_sport > .col_md_1_list {
  border-left: 4px solid #EF8A18;
  color: #EF8A18;
}

.list_music > .col_md_1_list {
  border-left: 4px solid #EE1E65; 
  color: #EE1E65;
}

.list_finish_state {
  opacity: 0.3;
  margin: 15px 0px;
  z-index: 1;
}
