@import
	url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

body {
	font-family: 'Roboto Condensed', sans-serif;
}

/** CARDS **/
/***** Info Card Component *****/
/*******************************/
/* =24px */
.info-card-container {
	width: 100%;
	min-height: 100%;
	height: 83rem;
	overflow: hidden;
	background: -webkit-linear-gradient(left, #0C1B23 0%, #0C1B23 70%, #fff 70%, #fff
		100%);
	background: linear-gradient(to right, #0C1B23 0%, #0C1B23 70%, #fff 70%, #fff 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$white',
		endColorstr='$white', GradientType=1);
	/* IE6-9 */
	position: relative;
}

.info-card {
	min-width: 80%;
	max-width: 90rem;
	min-height: 70%;
	height: 80rem;
	margin: 0 auto;
	position: relative;
	background-color: #fff;
	box-shadow: 0.01rem 0.01rem 1rem #0C1B23;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.info-card__content {
	height: 100%;
	position: relative;
	overflow: hidden;
}

.info-card__image-exposure {
	width: 100%;
	max-height: 100px;
}

.info-card__bio {
	width: 100%;
	padding: 5rem;
	height: auto;
	font-family: 'Open Sans', serif;
}

.info-card__bio--title {
	color: #141D1D;
	font-size: 3.5rem;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

.info-card__bio--copy {
	color: #9da09f;
	line-height: 2;
	font-family: 'Open Sans', sans-serif;
}

.info-card__image-exposure__item {
	background-color: #fff;
	background-position: 80% 50%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	display: inline-block;
	position: absolute;
	opacity: 0.9;
}

.info-card__image-exposure--blend {
	background-image: url("../images/drops.png");
	background-repeat: no-repeat;
	background-color: #fff;
	background-position: -5rem;
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	-webkit-animation: blendAnimate 400s linear infinite;
	animation: blendAnimate 400s linear infinite;
}

.close {
	width: 2rem;
	height: 0.25rem;
	background-color: #000;
	position: absolute;
	top: 2.5rem;
	right: 2rem;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	cursor: pointer;
}

.close:before {
	content: '';
	display: block;
	width: 2rem;
	height: 0.25rem;
	background: #000;
	position: absolute;
	top: 0;
	right: 0;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

@
-webkit-keyframes blendAnimate { 0% {
	background-position: 0;
}

50%
{
background-position
:
 
100%
100%;
}
100%
{
background-position
:
 
0;
}
}
@
keyframes blendAnimate { 0% {
	background-position: 0;
}

50%
{
background-position
:
 
100%
100%;
}
100%
{
background-position
:
 
0;
}
}
body {
	background: rgb(250, 249, 247);
	background: -moz-linear-gradient(-45deg, rgba(250, 249, 247, 1) 0%,
		rgba(221, 218, 209, 1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(250, 249, 247, 1) 0%,
		rgba(221, 218, 209, 1) 100%);
	background: linear-gradient(135deg, rgba(250, 249, 247, 1) 0%,
		rgba(221, 218, 209, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf9f7',
		endColorstr='#dddad1', GradientType=1);
}