
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #e7e5de !important;
    padding-top: 70px;
    z-index: 1000;
}

.navbar-custom .navbar-nav>li>a {
	color: white;
}

.navbar-custom {
	background-color: black;
	border-color: black;
	font-size: 16px;
}

.navbar-toggle .custom-icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background: white;
	margin-bottom: 4px;
}

.navbar-custom .navbar-brand {
	color: white;
}

.disabled {
	pointer-events: none;
	cursor: default;
}

.center-div {
	position: absolute;
	margin: auto;
	right: 0;
	left: 0;
	max-width: 500px;
	border-radius: 3px;
}

.truncate {
	display: inline-block;
	max-width: 90%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/**DROPDOWN**/
.open>.dropdown-menu {
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
	opacity: 1;
}

.dropdown-menu {
	opacity: .3;
	-webkit-transform-origin: top;
	transform-origin: top;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-transform: scale(1, 0);
	display: block;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	width: auto;
}

/**MODAL OVERFLOW MENU**/
.modal-overflow {
	font-family: 'Roboto Condensed', sans-serif;
	position: relative;;
	background: #FFFFFF;
	display: block;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	max-width: 260px;
	max-height: auto;
	border: 1px solid #AAA;
	border-bottom: 3px solid #BBB;
	margin-top: 0px;
	overflow: hidden;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	font-family: 'Roboto', sans-serif;
	-webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overflow ul {
	list-style: none;
	padding-left: .5em;
}

.modal-overflow li>a {
	color: #FFFFFF;
	padding-left: .5em;
}

.modal-overflow









li
>
a








:hover
,
{
list-style




  



:





    



none




    



;
background




  



:





    



#E5E5E5




    



;
}
.modal-overflow li>a:active {
	background: #000000;
	color: #FFFFFF;
}

overflow-menu a {
	color: #000000;
	list-style: none;
	padding-left: .5em;
}

a {
	color: #000000;
}

.modal-backdrop.in {
	filter: alpha(opacity = 0);
	opacity: 0;
}

/***NAVBAR STYLE**/
#custom-bootstrap-menu.navbar-default .navbar-brand {
	color: white;
}

#custom-bootstrap-menu.navbar-default {
	font-size: 16px;
	background-color: rgba(0, 0, 0, 1);
	border-width: 0px;
	border-radius: 0px;
	border: 1px solid #AAA;
	border-bottom: 3px solid #BBB;
	margin-top: 0px;
	overflow: visible;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	font-family: 'Roboto', sans-serif;
	-webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	position: sticky;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 0, 0, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
	#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(82, 103, 115, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
	#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
	#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(82, 103, 115, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-toggle {
	border-color: #526773;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
	#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
	background-color: #526773;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
	background-color: #526773;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
	#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
	background-color: #000000;
}

/**NOSCROLLBAR**/
::-webkit-scrollbar {
	
}

/**** BREAK *****/
.input-form {
	width: 100%;
	height: 35px;
	line-height: 35px;
	vertical-align: center;
}

.row-margin {
	margin: 15px;
}

* {
	margin: 0px auto;
	padding: 0px;
	text-align: center;
}

.table th {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: #607D8B;
}

.table td {
	width: 33.33%;
}

.table td select {
	width: 100%;
	padding: 10px 0px;
	text-align: left;
}

.table td input {
	width: 93%;
	padding: 10px 2%;
	border: none;
	text-align: left;
	outline: none;
}

.btn_add_fin {
	position: relative;
	padding: 10px 20px;
	background-color: #4C75A1;
	border: none;
	margin: 10px auto;
	box-shadow: 1px 5px 10px -5px rgba(0, 0, 0, 0.5);
	color: #fff;
	cursor: pointer;
	font-size: 13px;
}

.btn_export {
	position: relative;
	padding: 10px 20px;
	background-color: #6da944;
	border: none;
	margin: 10px auto;
	box-shadow: 1px 5px 10px -5px rgba(0, 0, 0, 0.5);
	color: #fff;
	cursor: pointer;
	font-size: 13px;
}

.titl_description {
	padding-top: 10px;
	text-align: center;
	margin-left: 0%;
	position: relative;
	float: center;
}

.display_none_add {
	
}